#PortfolioEntryBody {
    display: flex;
    justify-content: space-between;

    background-color: white;
    padding: 1rem;
    margin: 2rem;
    height: auto;
    border: 2px solid gray;
}

#PortfolioEntryTextBody {
    display: grid;
}

#PortfolioEntryDescription {
    margin-bottom: 1vh;
}

#PortfolioEntryLink {
    display: inline-block;
    align-self: flex-end;
    width: fit-content;
}

#PortfolioEntryIcon {
    width: 5vw;
    height: 5vw;
    image-rendering: pixelated;
    outline: gray solid 2px;
}

#PortfolioTitleContainer {
    display: flex;
}

#PortfolioEntryTitle {
    align-self: flex-start;
    font-size: 3vh;
    font-family: "Chakra Petch", sans-serif;
    color: #1c1c1c;
}

#PortfolioEntryTitleTag {
    margin-left: 0.45rem;
    align-self: flex-start;
    font-size: 2vh;
    font-family: "Chakra Petch", sans-serif;
    color: #989898;
}