html {
    background-color: #FFFFFF;
    font-size: 10px;
    font-family: "Roboto", sans-serif;
}

body {
    width: auto;
    margin: 0 auto;
    padding: 0;
}

footer.page-footer {
    background-color: rebeccapurple;
    color: azure;
    font-size: 20px;
    font-family: "Chakra Petch", sans-serif;
    text-shadow: 2px 2px 1px black;
    text-align: left;
    padding: 1.5%;
    margin: 0;
    border: 5px hidden black;
    border-top-style: solid;
}

header.page-header {
    background-color: rebeccapurple;
    color: azure;
    font-size: 20px;
    font-family: "Chakra Petch", sans-serif;
    text-shadow: 3px 3px 1px black;
    text-align: left;
    padding: 1% 2% 1% 2%;
    margin: 0;
    border: 5px hidden black;
    border-bottom-style: solid;
}

.projects-header{
    margin: 0;
    padding: .3rem;
    background-color: #eee;
    font: 1rem "Roboto", sans-serif;
}

.projects-header > h1 {
    margin: 1%;
    padding: .6%;
    font-size: 35px;
    font-family: "Chakra Petch", sans-serif;
}

.project {
    background: right/contain content-box border-box no-repeat
                white;
}

.page-header > h1 > a > img {
    width: 5rem;
    margin: 0 3rem 0 0;
    float: right;
    vertical-align: center;
}

.project {
    margin: 1%;
    padding: 1%;
    font-size: 35px;
    font-family: "Chakra Petch", sans-serif;
    image-rendering: crisp-edges;
    border: 5px solid black;
    background-size: 5em;
}

.project > p {
    margin: .4rem;
    font-size: 2rem;
    width: 60%;
}

.project > h2 {
    margin: .4rem;
    font-size: 3rem;
}